Replication Server config

/
 .hostname
 .scm
 ROOTVOLUME


/vice
 .hostname
 .scm
 ROOTVOLUME
 auth2
 backup
 bin
 db
 db.UPD
 spool
 srv
 vol

/vice/auth2:
 AuthLog
 monpid
 pid


/vice/db:
 VLDB
 VLDB.UPD
 VRDB
 VRDB.UPD
 VSGDB
 VSGDB.UPD
 auth2.pw
 auth2.pw.UPD
 auth2.tk
 auth2.tk.UPD
 dumplist
 dumplist.UPD
 files
 files.UPD
 hosts
 hosts.UPD
 pro.db
 pro.db.UPD
 servers
 servers.UPD
 vice.pcf
 vice.pcf.UPD
 vice.pdb
 vice.pdb.UPD
 volutil.tk
 volutil.tk.UPD

/vice/spool:

/vice/srv:
 SHUTDOWN
 SrvErr
 SrvErr.old
 SrvLog
 SrvLog-1
 SrvLog-2
 SrvLog-3
 SrvLog-4
 SrvLog-5
 SrvLog-6
 SrvLog-7
 SrvLog-8
 UpdateLog
 UpdateMonitor
 UpdatePid
 pid

/vice/vol:
 .anonr
 VolumeList
 fs.lock
 volutil.lock

/vice/bin:
 auth2
 authmon
 printvrdb
 rds_test
 rdsinit
 restartserver
 rvmutl
 srv
 srv.may12
 srv.old
 startfromboot
 startserver
 updateclnt
 updatemon
 updatesrv
 volutil


/vice/backup:
 7f00031e.de000009.ancient
 7f000333.de00001c.ancient
 7f000333.de00001c.newlist
 7f000334.de00001e.ancient
 7f000337.de000022.ancient
 7f000338.de000023.ancient
 7f000339.de000024.ancient
 7f00033c.de000029.ancient
 7f00033c.de000029.newlist
 7f00033d.de00002a.ancient
 7f00033e.de00002d.ancient
 7f00033e.de00002d.newlist
 7f00033f.de00002f.ancient
 7f00033f.de00002f.newlist
 7f000340.de000030.ancient
 7f000340.de000030.newlist
 7f000341.de000031.ancient
 7f000341.de000031.newlist
 7f000342.de000032.ancient
 7f000342.de000032.newlist
 7f000343.de000033.ancient
 7f000355.de00003b.ancient
 7f000355.de00003b.newlist
