
/ROOTVOLUME
 .scm
 .hostname
 ROOTVOLUME


/vice
 .hostname
 .scm
 ROOTVOLUME
 STARTFROMBOOT
 auth2
 backup
 bin
 bin.old
 db
 spool
 srv
 vol

/vice/auth2:
 AuthLog
 AuthLog.old
 monpid
 pid

/vice/bin:

 auth2
 authmon
 bldvldb.sh
 bldvldb.sh.orig
 bldvldb.sh.working_on
 createvol
 createvol_rep
 krcp
 norton
 printvrdb
 purgevol
 purgevol_rep
 rds_test
 rdsinit
 restartserver
 rvmutl
 srv
 startfromboot
 startserver
 startserver.HACKED_DONT_USE
 ttyfcon
 updateclnt
 updatemon
 updatesrv
 volutil

/vice/bin.old:

 auth2
 authmon
 bldvldb.sh
 createvol
 createvol_rep
 norton
 norton-reinit
 printvrdb
 purgevol
 purgevol_rep
 rds_test
 rdsinit
 reinit
 restartserver
 rvmutl
 srv
 startfromboot
 startserver
 updateclnt
 updatemon
 updatesrv
 volutil

/vice/db:

 AuthLog
 NewVolNames
 UpdateLog
 UpdateMonitor
 VCList
 VCList.~1~
 VLDB
 VRDB
 VRDB.saved
 VSGDB
 VolumeNames
 auth2.pw
 auth2.pw.keep
 auth2.tk
 dumplist
 dumplist.keep
 files
 hosts
 pid
 pro.db
 servers
 vice.pcf
 vice.pdb
 volutil.tk

/vice/spool:

/vice/srv:
 SHUTDOWN
 SrvErr
 SrvErr.old
 SrvLog
 SrvLog-1
 SrvLog-2
 SrvLog-3
 SrvLog-4
 SrvLog-5
 SrvLog-6
 SrvLog-7
 SrvLog-8
 UpdateLog
 UpdateMonitor
 UpdatePid
 pid
 restartlog

/vice/vol:
 .anonr
 AllVolumes
 BackupList
 BigVolumeList
 RWlist
 VRList
 VRList.good
 VolumeList
 fs.lock
 maxgroupid
 partitions
 remote
 skipsalvage.old
 volutil.lock

/vice/vol/remote:

 bizet.list
 debussy.list
 diagb.list
 gershwin.list
 grieg.list
 haydn.list
 mahler.list
 massenet.list
 mussorgsky.list
 poulenc.list
 puccini.list
 rossini.list
 scarlatti.list
 schumann.list
 stravinsky.list
 tchaikovsky.list
 vivaldi.list
 wagner.list


/vice/backup:
 7f00022d.d6000354.ancient
 7f00022d.d6000354.newlist
 7f00022e.d6000355.ancient
 7f00022e.d6000355.newlist
 7f00022f.d6000356.ancient
 7f00022f.d6000356.newlist
 7f000230.d6000357.ancient
 7f000230.d6000357.newlist
 7f000231.d6000358.ancient
 7f000232.d6000359.ancient
 7f000232.d6000359.newlist
 7f000233.d600035a.ancient
 7f000233.d600035a.newlist
 7f000234.d600035b.ancient
 7f000235.d600035c.ancient
 7f000235.d600035c.newlist

	etc

 d600025b.newlist
